body {
  font-family: 'Roboto', sans-serif;
  background-color: #666666;
  color: #eeeeee;
  margin: 0;
}

header {
  text-align: left;
  background-color: #444444;
  padding: 20px 0 10px 20px;
}

header h1 span {
  font-weight: bold;
}

object {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin: 20px 0 0 30px;
  float: left;
}

img {
  display: block;
  float: left;
  margin: 20px 0 0 50px;
}

p {
  width: 300px;
  float: left;
  margin: 20px 0 0 30px;
}
